#contacto {
	background-color: var(--color__principal__1);
}

.redes__contacto {
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
}

.titulo__redes {
	font-family: var(--fuente__principal);
	color: var(--color__principal__1);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
}

.contacto__icons__lista {
	display: flex;
	margin: 10px 0 0 0;
	flex-wrap: wrap;
	justify-content: center;
}

.contacto__icons{
    margin: 10px;
    transition: all 300ms;
}

.contacto__icons:hover{
    transform: scale(1.1);
}

.contacto__info{
    width: 80%;
    margin: 0px 10%;
    padding: 50px 0;
}

.contacto__titulo {
	text-transform: uppercase;
	font-family: "Montserrat" , sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	color: white;
	margin-bottom: 15px;
	text-align: center;
}

.contacto__texto{

	font-family: "Montserrat" , sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: white;
	margin-bottom: 30px;
    text-align: center;
}

.contacto__item {
	background-color: rgb(93, 93, 93);
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 10px;
}

.contacto__descripcion{
    margin-bottom: 5px;
}

.contacto__contenedor{
    width: 50%;
    margin: 0 auto;
}

.contacto__input {
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 5px;
    margin: 5px 0;
    font-family: "Montserrat" , sans-serif;
    font-size: 15px;
    border: none;
    outline-style: none;
    background-color: #272727;
    color: white;
}

.contacto__input::placeholder{
    color: white;
    opacity: 50%;
}

.contacto__boton {
	width: 100%;
	padding: 15px 0;
	border-radius: 15px;
	margin: 20px 0px;
    background-color: #ff681d;
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    color: black;
    font-size: 1rem;
    outline-style: none;
    border: none;
    transition: all 300ms;
}

.contacto__boton:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 20px #ff681d9e;
}

.contacto__input-mensaje{
    resize: none;
}

.contacto__Info__datos{
    font-family: "Montserrat" , sans-serif;
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    display: none;
    text-shadow: 0 0 20px white;
}

.mostrar{
    display: block;
}

@media screen and (max-width:1024px) {
    .contacto__contenedor {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width:480px) {

    .contacto__info {
        width: 80%;
        margin: 0px 10%;
    }

    .contacto__contenedor {
        width: 90%;
    }

    .contacto__texto {
        font-size: .85rem;
    }
    
}