.trabajos__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
    padding: 10px 0;
	margin: 0px auto 0 auto;
	align-items: center;
	justify-content: center;
}

.multimedia__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.frontend__container__proyectos{
    width: 65%;
    display: flex;
    flex-direction: column;
	justify-content: center;
}

.inicio__trabajos__container{
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0px auto 0 auto;
	align-items: center;
	justify-content: center;
}

.titulo__proyectos {
	font-family: var(--fuente__principal);
	text-align: center;
	margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
    width: 100%;
    font-size: 2.5rem;
}

.proyectos__multimedia{
    width: 35%;
}

.portafolio{
    background-color: var(--color__principal__2);
    display: flex;
}

.portafolio__titulo{
    font-family: var(--fuente__principal);
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    font-size: 100px;
    font-weight: 700;
    color: var(--color__principal__2);
    background-color: var(--color__elementos__oscuro);
}

.trabajo__item{
    background-color: var(--color__elementos__oscuro);
   padding: 20px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trabajo__titulo {
	font-family: var(--fuente__principal);
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.trabajo__image{
    width: 300px;
    margin: 10px 0;
}

.trabajo__icons__container{
    display: flex;
    justify-content: space-around;
}

.trabajo__icon{
    margin: 0 5px 5px 5px;
}

.trabajo__button__link{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {

    .portafolio{
        display: block;
    }
    
    .frontend__container__proyectos {
        width: 100%;
    }

    .proyectos__multimedia {
        width: 100%;
    }

    .portafolio__titulo {
        font-size: 35px;
    }

    .trabajo__image {
        width: 290px;
    }

    .trabajos__container {
        width: 95%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .multimedia__container {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        padding-bottom: 40px;
    }

    
}

@media screen and (max-width: 680px){

    .titulo__proyectos {
        font-size: 2rem;
    }

    .multimedia__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 370px) {

    .presentacion__image {
        width: 170px;
        height: 170px;
    }

    .trabajo__image {
        width: 100%;
    }

    .trabajo__titulo {
        text-align: center;
    }

}

